<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>loginFilter</filter-name>
        <filter-class>filter.loginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>loginFilter</filter-name>
        <url-pattern>/dashboard</url-pattern>
        <url-pattern>/user</url-pattern>
        <url-pattern>/editprofile</url-pattern>
        <url-pattern>/Customers</url-pattern>
        <url-pattern>/Debts</url-pattern>
        <url-pattern>/Users</url-pattern>
        <url-pattern>/Products</url-pattern>
        <url-pattern>/zones</url-pattern>
        <url-pattern>/Stores</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>controller.authen.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationController</servlet-name>
        <servlet-class>controller.notification.NotificationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>controller.profile.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileServlet</servlet-name>
        <servlet-class>controller.profile.EditProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controllerTopProducts</servlet-name>
        <servlet-class>controller.dashboard.controllerTopProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>controller.authen.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controllerZones</servlet-name>
        <servlet-class>controller.zone.controllerZones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controllerStockCheck</servlet-name>
        <servlet-class>controller.stockcheck.controllerStockCheck</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/views/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationController</servlet-name>
        <url-pattern>/NotificationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileServlet</servlet-name>
        <url-pattern>/editprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controllerTopProducts</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controllerZones</servlet-name>
        <url-pattern>/zones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controllerStockCheck</servlet-name>
        <url-pattern>/stockcheck</url-pattern>
    </servlet-mapping>
</web-app>
